.problem-description-link {
    color: white;
}

.problem-description {
    box-sizing: border-box;
    width: 40%;

    padding-top: 16px;
    margin-left: 16px;
    padding-left: 16px;
    padding-right: 16px;
    color: white;
    /* overflow: auto; */
    background-color: rgb(30, 30, 30);
    border: 2px solid gray;
    /* background-color: #111111; */
}

.problem-description ul, li, code {
    color:white!important;
    overflow-wrap: break-word;
    word-wrap: break-word; /* Firefox support */
}

.problem-description-header {
    display: flex;
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 5px;
}

.problem-description-header-title {
    /* margin-left: 10px;
    margin-bottom: 5px;    */
}

.problem-description-index {
    margin-bottom: 5px;
}

