.challenge-card-container {
    display: flex;
    box-sizing: border-box;

    min-width: 200px;    
    max-width: 330px;
    height: 170px;

    padding: 8px;
    padding-right: 16px;

    border: 0.1px solid white;
    border-radius: 4px;
    transition: 100ms;
}

.challenge-card-container:hover {
    cursor: pointer;
    box-shadow: 0 1px 5px white;
}

.challenge-card-image {
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 80px;
    height: 80px;
}

.challenge-card-text-container {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    margin-top: 20px;
}

.challenge-card-title-text {
    color: white;
    font-size: 24px;
    font-weight: 600;
}

.challenge-card-description-text {
    color: white;
    font-size: 14px;
    font-weight: 550;
    margin-bottom: 20px;
}