.full-width {
  width: 100%;
}

.border-box {
  box-sizing: border-box;
}

.no-underline a:not(.underline) {
  text-decoration: none;
}

.px2 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.small {
  font-size: 11px;
}

.pointer {
  cursor: pointer;
}

.black-bg {
  background-color: black;
}
