.problem-editor-container {
    display: flex;
    margin-left: 150px;
    padding-top: 50px;
    padding-left: 100px;
}

.problem-description {
    padding-left: 20px;
    padding-right: 10px;
    margin-right:20px;
    padding-top: 20px;
    max-width: 40%;
    color: white;
    border: 2px solid gray;
    background-color: rgb(30, 30, 30);
}

.problem-description ul, li, code, div {
    color:white;
    overflow-wrap: break-word;
    word-wrap: break-word; /* Firefox support */
}

.problem-description-header {
    display: flex;
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 5px;
}

.problem-description-header-title {
    margin-left: 10px;
    margin-bottom: 5px;   
}

.problem-description-index {
    margin-bottom: 5px;
}

.editor-container {
    min-width: 50%;
    margin-right: 5px;
}