.leaderboard-table {
    max-width: 50%!important;    
    left: 15%;
    margin-top: 50px;
    position: relative;
}

.weekly-btn {
      
    margin-right: 20px;
}

.all-time-btn {
    
    margin-right: 20px;
}