.problem-parent-box {
    padding-top: 20px;
    padding-left: 30px;
    padding-right: 30px;
    margin-left: 15%;
    margin-top: 20px;
    max-width: 50%;
    min-height: 75vh;
    border: skyblue dotted 2px;
    background-color: rgb(255, 255, 255);
}

.problem-header {
    text-align: center; 
}

.problem-desc {
    margin-top: 20px;
}

.problem-bar-box {
    background-color: rgb(217, 239, 247);
    border: solid 2px black;
    border-radius: 10px;        
    margin-bottom: 20px;
    margin-left: 30px;
    margin-right: 30px;
}

.problem-bar-text {
    padding-left: 30px;
    padding-top: 10px;
    color: black;
    font-weight: 700;
}

.timer-bar-day-text {
    color: rgb(205, 205, 205);
    font-size: 24px;
    font-weight: 600px;
    margin-left: 30px;
}

.timer-bar-box {
    display: flex;    
    border-radius: 10px;
    margin-bottom: 20px;
    margin-left: 30px;
    margin-right: 30px;
}

.timer-bar-timeleft-text {
    color: gray;
    padding-left: 10px;
    padding-top: 10px;    
    font-weight: 700;
}