.search-container, .search {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  border-radius: 5px;
  width: 350px;
}

.search-input-box-container {
  display: flex;
  width: 100%;
  border: 1px solid gray;
  border-radius: 4px;
  height: 80%;
  color: white !important;
  background-color: black !important;
  align-items: center;  
}

.searchInputs:hover {
  box-shadow: 0 0 11px rgba(33,33,33,.2);
}

/** Flex-Item **/
.search-input {
  background-color: black;
  color: white !important;
  font-size: 14px;
  height: 100%;
  width: 400px;
  box-sizing: border-box;
  border: 0px;
  border-radius: 0;
  outline: none !important;
  flex: 1;
}

/** Flex-Item **/
.searchIcon {
  width: 20px;
  height: 20px;
  margin: 4px;  
  margin-left: 8px;
  box-sizing: border-box;
  background: transparent;
  color: grey;  
}

.searchButton {
  display: flex;
  justify-content: center;
  height: 40px;
  width: 40px;
  background-color: white; 
  padding-top: 8px;
  box-sizing: border-box;
  background: transparent;
  color: gray;
  line-height: 18px;
}

input:focus {
  outline: none;
}

.searchIcon svg {
  font-size: 20px;
  display: block!important;
}

.searchButton svg {
  font-size: 24px;
}

#clearBtn {
  cursor: pointer;
}

.searchButtonContainer {
  display: flex;
}

.search-suggestion-list-container {
  width: 500px;
  background-color: white;
  position: absolute;
}

.dataResult {
  padding-bottom: 0.5rem;
  width: 300px;
  padding-inline-start: 0px;
  width: 100%;
  align-items: center;
  color: white;
  list-style: none;
  position: absolute;
  background-color: white!important;
}

.dataResult > li {
  position: relative;
}