.search {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.search-input-box-container {
  background-color: black;  
  display: flex;
  align-items: center;  
  margin-top: auto;
  margin-bottom: auto;
}

.searchInputs:hover {
  box-shadow: 0 0 11px rgba(33,33,33,.2);
}

/** Flex-Item **/
.search input {
  background-color: black;
  color: white;
  font-size: 14px;
  padding: 15px;
  padding-left: 10px;
  margin-right: 20px;
  height: 30px;
  width: 400px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 6px;
  border: 0px;
  margin-left: 5px;
  outline: none;
  flex: 1;
}

/** Flex-Item **/
.searchIcon {
  width: 20px;
  height: 20px;    
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 15px;
  box-sizing: border-box;
  background: transparent;
  color: grey;  
}

.searchButton {
  height: 40px;
  width: 40px;
  background-color: white; 
  padding-top: 10px;
  box-sizing: border-box;
  background: transparent;
  color: gray;
  line-height: 18px;
}

input:focus {
  outline: none;
}

.searchIcon svg {
  font-size: 20px;
  display: block!important;
}

.searchButton svg {
  font-size: 24px;
}

#clearBtn {
  cursor: pointer;
}

.searchButtonContainer {
  display: flex;
}

.search-suggestion-list-container {
  width: 500px;
  background-color: white;
  position: absolute;
}

.dataResult {
  padding-bottom: 0.5rem;
  width: 300px;
  padding-inline-start: 0px;
  width: 100%;
  align-items: center;
  color: white;
  list-style: none;
  position: absolute;
  background-color: white!important;
}

.dataResult > li {
  position: relative;
}