.searchSuggestionContainer {
  width: 600px;
  background-color: white;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  border-left: 1px solid rgba(217, 215, 215, 1);
  border-right: 1px solid rgba(217, 215, 215, 1);
  border-bottom: 1px solid rgba(217, 215, 215, 1);
  display: none;
  background-color: transparent;
}

.dataResult {
  padding-bottom: 0.5rem;
  width: 300px;
  padding-inline-start: 0px;
  width: 100%;
  align-items: center;
  color: black;
  list-style: none;
}
