@media all and (min-width: 480px) {
  .Login {
    padding: 20px 0;    
  }

  .Login form {
    margin: 0 auto;
    max-width: 320px;
  }
}

.login-div-container {
  background-color: rgb(16, 23, 34);
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.login-title-text {
  color: white;
  font-size: 20px; 
  margin: 0 auto; 
}

.margin-top-10 {
    margin-top: 10px !important;
}

.margin-top-20 {
    margin-top: 20px !important;
}

.button-large {
  width: 320px;
}

.margin-left-none {
  margin-left: 0px;
}

.signupContainer {
  color: white;
  margin-top: 2rem;
  margin-left: 3rem;
}

.signupContainer a, .forgotPasswordContainer a {
  color: rgb(105, 150, 255)!important;
}

.divContainer {
  margin-top: 2rem;
}

.googleSignupContainer {
  display: flex;
  padding: 5px;
  justify-content: center;
  text-align: center;
}

.divParentContainer {
  display: flex;
}

.forgotPasswordContainer {
  color: white;
  margin-top: 0.5rem;
  margin-left: 3rem;
}
